# System files
.DS_Store
Thumbs.db

# Editor/IDE folders
.vscode/
.idea/

# Temporary or backup files
*.tmp
*.log
*.bak


# Ignore backend dependencies
# Backend
Backend/node_modules/
Backend/npm-debug.log
Backend/.env
